{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "overrides": [
    {
      "files": "*.rs",
      "options": {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "trailingComma": "none",
        "bracketSpacing": true,
        "bracketSameLine": false
      }
    }
  ]
}
